body
{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.main
{
    margin: 0 auto;
    width:70vw;
    height: 95vh;
    position:relative;
    top: 2.5vh;
    border-radius: 5px;;
}

.left-panel
{
    width:30%;
}
#background
{
    max-height:95vh;
    border-radius: 5px;;
}