@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap');
*
{
    margin: 0;
    padding: 0;
    color:white;
}

body
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color:  #797081;
    height:100vh;
}

.content
{
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    height:90vh;
}

.picture
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 2;
    background-image: url(./img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    width: clamp(45ch, 30%,32%);
    border-radius: 10px;
}
.logo-strip
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-self: stretch;
    background-color: rgba(0,0,0,.5);
    color:white;
    font-family: 'Press Start 2P', monospace;
    font-size: 2rem;
    padding:10px;
}
.author
{
    color:white;
    font-family: 'Trispace', sans-serif;
    font-size: .8rem;
}
.author a
{
    color:inherit;
}

.form-container
{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,.5);
    width: max(50%, 45ch);
    min-height: 70%;
    border-radius: 10px;
    padding:50px;
    box-sizing: border-box;
}
.context
{
    background-color: rgba(0,0,0,.5);
    box-sizing: border-box;
    padding:10px;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 10px;
}
.context .p2
{
    font-weight: bold;
}
form
{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    background-color:rgba(111,249,234,.3);
    box-sizing: border-box;
    padding:20px;
    border-radius: 10px;
    font-family: 'Trispace', monospace;
    align-self: stretch;
}
.form-macro
{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input
{
    display: flex;
    flex-flow: column nowrap;
    padding:10px;
    box-sizing: border-box;
    width:40%;
}











/* 
.main
{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    width:70vw;
    height: 95vh;
    top: 2.5vh;
    border-radius: 10px;
    background-color: #2A281C;
}

.left-panel
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width:clamp(45ch, 25%, 30%);
    height:95vh;
    top:2.5vh;
    width:35%;
}
#background
{
    height: 95vh;
    border-radius: 10px;
    width:100%;
}
.author
{
    position:absolute;
    bottom: 2vh;
    color: white;
    font-size: .7rem;
}
.author a
{
    color:inherit;
}

.logo-strip
{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0,0,0, .5);
    position:relative;
    width:30%;

}
.logo-strip p
{
    width:min(50%,25%);
    font-family: 'Press Start 2P', monospace;
    font-size: 1.5rem;
}
#logo
{

}

.right-panel
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width:65%;
    background-color: pink;
 
    right:0;
}
form
{
    align-self: start;
    
}
section
{

    background-color: white;
} */