body
{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.main
{
    margin: 0 auto;
    width:70vw;
    height: 95vh;
    position:relative;
    top: 2.5vh;
    border-radius: 10px;;
}

.left-panel
{
    width:30%;
    text-align: center;
}
#background
{
    max-height:95vh;
    border-radius: 10px;;
}
.author
{
    position:relative;
    bottom: 6vh;
    margin:0 auto;
    color: white;
    font-size: .8rem;
}
.author a
{
    color:inherit;
}